* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.topics {
    padding-left: 84px;
    display:flex;
    flex-direction: column;
    gap: 48px;
    padding-right: 84px;
    margin-bottom: 243px;
    margin-top: 73px;
    font-family: "Poppins", sans-serif;
}
.topics-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  
}
.topic-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 51px 30px 30px 30px;
    border-radius: 20px;
}
.topic-card h3{
    margin-top: 20px;
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.topic-card a{
    padding: 10px 40px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: #4CE0D7;
    border-radius: 40px;
}
hr{
    margin-bottom: 52.5px;
    width: 1267px;
    margin: 0 auto;
    margin-bottom: 32.5px;
    position: relative;
    top: -87.5px;
}
.topic-card img {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.topic-card a:hover {
    background-color: #3bb1a9;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}